<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sv.edu.ues.fia.eisi.pdm115.g10.polideportivoues">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_polideportivo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PolideportivoUES">
        <activity
            android:name=".Login.RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".Login.LoginActivity"
            android:exported="false"
            android:theme="@style/Login"/>
        <activity
            android:name=".Gustavo.Genero.GeneroActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".Gustavo.Genero.GeneroEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".Gustavo.Genero.GeneroConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".Gustavo.Genero.GeneroInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".Carolina.Nacionalidad.NacionalidadEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".Carolina.Nacionalidad.NacionalidadConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".Carolina.Nacionalidad.NacionalidadActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".Carolina.Nacionalidad.NacionalidadInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".William.HorariosLocales.HorariosLocalesEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".William.HorariosLocales.HorariosLocalesConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".William.HorariosLocales.HoariosLocalesActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".William.HorariosLocales.HorariosLocalesInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".Chris.TipoPago.TipoPagoEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".Chris.TipoPago.TipoPagoActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".Chris.TipoPago.TipoPagoConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".Carolina.PeriodoReserva.PeriodoReservaInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".Carolina.PeriodoReserva.PeriodoReservaEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".Carolina.PeriodoReserva.PeriodoReservaConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".Carolina.PeriodoReserva.PeriodoReservaActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".Carolina.Reservacion.ReservacionInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".Carolina.Reservacion.ReservacionEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".Carolina.Reservacion.ReservacionConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".Carolina.Reservacion.ReservacionActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".Gustavo.Persona.PersonaActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".Gustavo.Persona.PersonaConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".Gustavo.Persona.PersonaEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".Gustavo.Persona.PersonaInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".Gustavo.HorariosDisponibles.HorariosDisponiblesActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".Gustavo.HorariosDisponibles.HorariosDisponiblesConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".Gustavo.HorariosDisponibles.HorariosDisponiblesEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".Gustavo.HorariosDisponibles.HorariosDisponiblesInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".William.TipoReservacion.TipoReservacionEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".William.TipoReservacion.TipoReservacionConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".William.TipoReservacion.TipoReservacionActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".William.TipoReservacion.TipoReservacionInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".William.Local.LocalEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".William.Local.LocalConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".William.Local.LocalActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".William.Local.LocalInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".Chris.TipoPago.TipoPagoInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".Chris.Hora.HoraConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".Chris.Hora.HoraInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".Chris.Hora.HoraEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".Chris.Hora.HoraActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".Chris.Evento.EventoConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".Chris.Evento.EventoEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".Chris.Evento.EventoInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".Chris.Evento.EventoActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".Alonso.TipoEvento.TipoEventoEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".Alonso.TipoEvento.TipoEventoConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".Alonso.TipoEvento.TipoEventoActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".Alonso.TipoEvento.TipoEventoInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".Alonso.Dia.DiaEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".Alonso.Dia.DiaConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".Alonso.Dia.DiaActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".Alonso.Dia.DiaInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".Alonso.Cobro.CobroActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".Alonso.Cobro.CobroEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".Alonso.Cobro.CobroConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".Alonso.Cobro.CobroInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.PolideportivoUES.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>